<%= form_with model: @item, url: admin_items_path, local: true do |f| %>
  <div>
    <%= f.label :"商品画像" %>
    <%= f.attachment_field :image %>
  </div>
  <div>
    <%= f.label :"商品名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :"商品説明" %>
    <%= f.text_area :explanation %>
  </div>
  <div>
    <%= f.label :"ジャンル" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "--選択してください--"} %>
  </div>
  <div>
    <%= f.label :"税抜価格" %>
    <%= f.text_field :tax_excluded_price %>
  </div>
  <div>
    <%= f.label :"販売ステータス" %>
    <%= f.select :sale_status, [['販売中', true], ['販売停止中', false]], prompt: "-- 選択してください --" %>
  </div>
  <div>
    <%= f.submit '登録' %>
  </div>
<% end %>